@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;

  font-family: Karma, serif;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

section {
  padding: 1rem;
}

ol {
  margin: 0;
  padding: 0;
  list-style-type: none;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
}

ol > li {
  display: flex;
  flex-direction: column;
  align-items: center;

  border: 3px solid #987ffa;
  border-radius: 6px;
  padding: 1rem;
}

h2 {
  margin: 0;
  font-family: Oswald, serif;
  font-size: 2rem;
  color: #6f00e7;
}

p {
  margin: 0 0 1.5rem;
  font-size: 1.4rem;
  text-align: center;
}

.prod-img {
  width: 15em;
  order: -1;
  margin: 0 0 1.5rem;
}

.tool-bar {
  margin: 0;
  padding: 0;
  list-style-type: none;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: stretch;
  align-items: center;
}

.tool-bar li:first-child {
  margin: 0 auto 0 0;
  padding: 0 .25em;
}

.tool-bar li:nth-child(2) {
  padding: 0 .25em;
}

.tool-bar li:last-child {
  padding: 0 .5em;
}

.tool-bar a {
  display: flex;
  justify-content: start;
  align-items: center;
}

a {
  font-family: Oswald, sans-serif;
}

.btn {
  background-color: #6f00e7;
  color: #fff;
  text-decoration: none;
  padding: .5em 1.5em .7em;
  border-radius: 3em;
  font-weight: bold;
}

.btn img {
  margin: 0 .25em 0 0;
}
